[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

# Visual Studio / VS Code
.vscode/
.idea/
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs

# OS files
.DS_Store
Thumbs.db
desktop.ini